@model InsuranceQuoteApp.Models.Insuree
@{
    ViewBag.Title = "Create Insuree";
}

<h2>Create Insuree</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        <div class="form-group">
            @Html.LabelFor(m => m.FirstName)
            @Html.TextBoxFor(m => m.FirstName)
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.LastName)
            @Html.TextBoxFor(m => m.LastName)
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.EmailAddress)
            @Html.TextBoxFor(m => m.EmailAddress)
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.DateOfBirth)
            @Html.TextBoxFor(m => m.DateOfBirth, "{0:yyyy-MM-dd}", new { type = "date" })
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.CarYear)
            @Html.TextBoxFor(m => m.CarYear)
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.CarMake)
            @Html.TextBoxFor(m => m.CarMake)
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.CarModel)
            @Html.TextBoxFor(m => m.CarModel)
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.SpeedingTickets)
            @Html.TextBoxFor(m => m.SpeedingTickets)
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.DUI)
            @Html.CheckBoxFor(m => m.DUI)
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.CoverageType)
            @Html.DropDownListFor(m => m.CoverageType, new SelectList(new[] { "Liability", "Full" }))
        </div>

        @Html.HiddenFor(m => m.Quote)

        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
}
